{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home | Text analyzer</title>
    </head>
    <body ng-app="TextAnalyzer.demo">
        {% verbatim %}
        <div ng-controller="TextAnalyzerController">
            <div ng-repeat="user in homeNgModel.users">
                <h2>User "{{ user.name }}" has {{ user.texts.length }} text(s).</h2>
                <div ng-repeat="userText in user.texts">
                    <h3>{{ userText.title }}</h3>
                    <div>
                        {{ userText.text }}
                    </div>
                </div>
                <div>
                    <h3>------------</h3>
                    <h3>Add new text</h3>
                    <input type="text" placeholder="title" ng-model="title"/><br/><br/>
                    <textarea rows="3" placeholder="text" ng-model="text"></textarea><br/>
                    <button ng-click="addUserTexts(user, title, text)">Add</button>
                </div>
                <h2>------------</h2>
            </div>
        </div>
        {% endverbatim %}

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="{% static "TextAanlyzer/home.js" %}"></script>
    </body>
</html>