<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home | Text analyzer</title>
    </head>
    <body ng-app="TextAnalyzer.demo">
        {% verbatim %}
        <div ng-controller="TextAnalyzerController">
            User "{{ homeNgModel.user.name }}" has {{ homeNgModel.user.userTexts.length }} text(s).
        </div>
        {% endverbatim %}

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script>
            (function(){
                "use strict";

                angular.module("TextAnalyzer.demo", [])
                    .controller("TextAnalyzerController", ['$scope', TextAnalyzerController]);

                function TextAnalyzerController($scope) {
                    $scope.homeNgModel = {
                        user: {
                            name: "Test user 1",
                            userTexts: [
                                {
                                    title: "Text 1 title",
                                    text: "text 1"
                                },
                                {
                                    title: "Text 2 title",
                                    text: "text 2"
                                }
                            ]
                        }
                    };
                }
            }());
        </script>
    </body>
</html>